<h1> Rainbow Connection </h1>
<h3> Everybody has a favorite color.</h3>


<ul>
  {{#each model as |user|}}
    <li>{{user.name}}'s favorite color is <span class= {{user.favoritecolor}}> {{user.favoritecolor}} </span></li>
    <li> {{user.name}}'s friends are

      {{#each user.friends as |friend|}}
        &nbsp;
        {{#link-to 'user' friend.id}}
          {{friend.name}}
        {{/link-to}}
      {{/each}}

    </li>
    {{/each}}
</ul>

{{outlet}}
